.activity-item {
    margin-left: 1px;
}

.activity-date, .activity-avatar {
    color: gray;
    font-size: 8pt;
    padding: 5px;
}

.activity-table .avatar {
    float: none;
}

.activity-avatar img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.activity-note {
    border: 1px solid #C8C8E8;
    background-color: #E8E8E8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*max-width: 658px;
    overflow-x: hidden;
    */

}

td.activity-center {
    text-align: center;
}

hr.activity-hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}